<a href="https://colab.research.google.com/github/Emmanuelmitra/list-comprehension-in-python-/blob/main/list_comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## List comprehension

List comprehension in Python is an easy and compact syntax for creating a list from a string or another list. It is a very concise way to create a new list by performing an operation on each item in the existing list. List comprehension is considerably faster than processing a list using the for loop.

In [1]:
'''syntax of list comprehension
list = [expression for item in iterable if condition == True]'''

'syntax of list comprehension\nlist = [expression for item in iterable if condition == True]'

In [2]:
# easy syntax
# l=[print(i) for i in l]

In [7]:
# normal for loop 
l=[1,2,3,4,4]
for i in l:
  print(i)

1
2
3
4
4

In [5]:
# list comprehension 
l=[1,2,3,4,5]
l2=[i for i in l]
print(l2)

[1, 2, 3, 4, 5]

In [18]:
# Using list comprehension, construct a list from the squares of each element in the list.
l=[1,2,3,4,5]
l1=[i for i in l]
print(l1)

[1, 2, 3, 4, 5]

In [20]:
# Using list comprehension, construct a list from the squares of each element in the list, 
# if the square is greater than 50.

l=[2, 4, 6, 8, 10, 114]
[i**2 for i in l if i**2>50]

[64, 100, 12996]

In [8]:
# Given dictionary is consisted of vehicles and their weights in kilograms
#  Contruct a list of the names of vehicles with weight below 5000 kilograms
#  In the same list comprehension make
#  the key names all upper case.
dict={"Sedan": 1500, "SUV": 2000, "Pickup": 2500, "Minivan": 16000, "Van": 24000, "Semi": 13600}
d=[i.lower() for i in dict if  dict[i]<5000]
print(d)

['sedan', 'suv', 'pickup']

In [10]:
# if else statement in list comprehension 
#for given list if value is greater than 5 print high else print low
l=[1,2,3,4,5,6,7,8,9]
l2=['high' if i>5 else 'low' for i in l]
print(l2)

['low', 'low', 'low', 'low', 'low', 'high', 'high', 'high', 'high']

In [11]:
#'if else 'statement in list comprehension
#for given list if value is greater than 5 print 1 or else 0
l=[1,2,3,4,5,6,7,8,9]
l2=[1 if i>5 else 0 for i in l]
print(l2)

[0, 0, 0, 0, 0, 1, 1, 1, 1]

In [12]:
import pandas as pd

In [61]:
df=pd.DataFrame({'name':['emmanuel','simon','ironman','superman'],'class':[1,2,3,4]})
df

       name  class
0  emmanuel      1
1     simon      2
2   ironman      3
3  superman      4

In [62]:
df['time']=[4,5,6,9]
df['age']=[22,23,54,67]

In [63]:
df.head()

       name  class  time  age
0  emmanuel      1     4   22
1     simon      2     5   23
2   ironman      3     6   54
3  superman      4     9   67

In [64]:
#how to print names of all columns
colnames=[i for i in df]
print(colnames)

['name', 'class', 'time', 'age']

In [65]:
#how to extract values of specific columns using LC
l=[i for i in df['age']]
print(l)

[22, 23, 54, 67]

In [66]:
# how to iterate through the dataframe 
l=['old' if i>25 else 'young' for i in df['age']]
df['age']=l
df.head()

       name  class  time    age
0  emmanuel      1     4  young
1     simon      2     5  young
2   ironman      3     6    old
3  superman      4     9    old